body { 
    font-family: Arial; 
    padding: 20px; 
}

table { 
    border-collapse: collapse; 
    width: 600px; 
    margin-bottom: 30px; 
    border: 2px solid black;
}

th, td { 
    border: 1px solid black;
    padding: 8px; 
    text-align: left; 
}

form { 
    width: 250px; 
    display: flex; 
    flex-direction: column; 
}

input, button { 
    margin: 5px 0; 
    padding: 7px; 
}

button { 
    background: #2196f3; 
    color: white; 
    border: none; 
}

button:hover { 
    background: #0b7dda; 
}
