*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
    background-color: transparent;
    border: 0px;
}

img{
    width: 20px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.add{
    text-decoration: none;
    color: black;
    font-weight: 700;
}

table{
    border: 0px solid;
}

td, th{
    border: 0px solid transparent;
    padding: 5px;
}

th{
    background-color: #1b293b;
    color: white;
}