*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

button{
    background-color: transparent;
    border: 0px;
}

img{
    width: 20px;
}

body{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
}

.tale{
    width: 80%;
}