@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    background-color: #4A90E2;
    width: 90px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

a{
    text-decoration: none;
    font-weight: 700;
    color: #eef2f6;
}

body {
    padding: 30px;
    font-family: "Montserrat", sans-serif;
    background: #eef2f6;
    display: flex;
    flex-direction: column;
}

h1, h2 {
    margin-bottom: 20px;
    color: #333;
    font-weight: 600;
}

form {
    margin-bottom: 25px;
    background: white;
    padding: 18px 22px;
    border-radius: 10px;
    box-shadow: 0 3px 20px rgba(0,0,0,0.08);
    width: 100%;
    max-width: 600px;
    display: flex;
    gap: 10px;
}

form input {
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    flex: 1;
    font-size: 15px;
}

form button {
    background: #4A90E2;
    color: white;
    border: none;
    padding: 10px 22px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.25s ease;
}

form button:hover {
    background: #357ABD;
    transform: translateY(-2px);
}

table {
    width: 100%;
    max-width: 1200px;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

th {
    background: #4A90E2;
    color: white;
    padding: 14px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #e4e4e4;
    font-size: 15px;
}

tr:last-child td {
    border-bottom: none;
}